SCO.Application/obj/Debug/net6.0/SCO.Application.assets.cache
SCO.Application/obj/Debug/net6.0/SCO.Application.csproj.AssemblyReference.cache
SCO.Application/obj/Debug/net6.0/SCO.Application.GeneratedMSBuildEditorConfig.editorconfig
SCO.EntityFramework/obj/project.assets.json
SCO.EntityFramework/obj/project.nuget.cache
SCO.EntityFramework/obj/SCO.EntityFramework.csproj.nuget.dgspec.json
SCO.EntityFramework/obj/SCO.EntityFramework.csproj.nuget.g.props
SCO.EntityFramework/obj/SCO.EntityFramework.csproj.nuget.g.targets
SCO.Domain.Shared/obj/project.assets.json
SCO.Domain.Shared/obj/project.nuget.cache
SCO.Domain.Shared/obj/SCO.Domain.Shared.csproj.nuget.dgspec.json
SCO.Domain.Shared/obj/SCO.Domain.Shared.csproj.nuget.g.props
SCO.Domain.Shared/obj/SCO.Domain.Shared.csproj.nuget.g.targets
SCO.EntityFramework.DbMigrations/obj/project.assets.json
SCO.EntityFramework.DbMigrations/obj/project.nuget.cache
SCO.EntityFramework.DbMigrations/obj/SCO.EntityFramework.DbMigrations.csproj.nuget.dgspec.json
SCO.EntityFramework.DbMigrations/obj/SCO.EntityFramework.DbMigrations.csproj.nuget.g.props
SCO.EntityFramework.DbMigrations/obj/SCO.EntityFramework.DbMigrations.csproj.nuget.g.targets
SCO.Application/obj/project.assets.json
SCO.Application/obj/project.nuget.cache
SCO.Application/obj/SCO.Application.csproj.nuget.dgspec.json
SCO.Application/obj/SCO.Application.csproj.nuget.g.props
SCO.Application/obj/Debug/net6.0/SCO.Application.assets.cache
SCO.Application/obj/Debug/net6.0/SCO.Application.csproj.AssemblyReference.cache
SCO.Application/obj/Debug/net6.0/SCO.Application.GeneratedMSBuildEditorConfig.editorconfig
SCO.Application/obj/project.assets.json
SCO.Application/obj/project.nuget.cache
SCO.Application/obj/SCO.Application.csproj.nuget.dgspec.json
SCO.Application/obj/SCO.Application.csproj.nuget.g.props
SCO.Application/obj/Debug/net6.0/SCO.Application.assets.cache
SCO.Application/obj/Debug/net6.0/SCO.Application.csproj.AssemblyReference.cache
SCO.Application/obj/Debug/net6.0/SCO.Application.GeneratedMSBuildEditorConfig.editorconfig
SCO.Api/bin
SCO.Api/obj
SCO.Contracts/bin
SCO.Domain.Shared/obj
SCO.EntityFramework/bin
SCO.EntityFramework.DbMigrations/bin
SCO.Infrastructure/bin
SCO.Infrastructure/obj
SCO.EntityFramework.DbMigrations/obj
SCO.EntityFramework/obj
SCO.Domain.Shared/bin
SCO.Domain/bin
SCO.Domain/obj
SCO.Contracts/obj
SCO.Infrastructure/bin
SCO.Infrastructure/obj
SCO.Domain/obj
SCO.Api/bin
SCO.Api/obj
SCO.Contracts/obj
SCO.Domain/bin
SCO.Application/bin
SCO.Application/obj
SCO.Contracts/bin
